<a href="#" data-name="Orange" data-price="0.5" class="add-to-cart btn btn-primary">Add to cart</a>

<input type="submit" data-name="Orange" data-price="0.5" name="submit"class="add-to-cart btn btn-primary button" value="Add to cart" >
